
*.class

*.class

bin/org/apprenda/aligned/Coordinate2D.class

bin/org/apprenda/aligned/Rectangle.class

bin/org/apprenda/aligned/Rectangle$1.class

bin/org/apprenda/aligned/Rectangle$2.class

bin/org/apprenda/common/Utils.class

bin/org/apprenda/oriented/Polygon.class

bin/org/apprenda/oriented/Polygon$1.class

bin/org/apprenda/oriented/Polygon$2.class

bin/org/apprenda/oriented/Polygon$2.class

bin/org/apprenda/oriented/Polygon$3.class

bin/org/apprenda/oriented/Polygon$4.class

bin/org/apprenda/oriented/Rectangle.class
/bin/

target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst

*.lst

target/surefire-reports/org.apprenda.test.RectangleTest.txt

target/surefire-reports/TEST-org.apprenda.test.RectangleTest.xml
/target/
